container_commands:
  01_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

files:
  "/home/wsgi/.smtp.json":
    mode: "000400"
    owner: wsgi
    group: wsgi
    source: https://s3.amazonaws.com/ethanmc2-blog/credentials/smtp.json

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings

packages:
  yum:
    postgresql-devel: []

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: ethanmc2-blog
