option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings

commands:
  01_local_settings:
    command: "mv /tmp/local_settings.py local_settings.py"

container_commands:
  01_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_copy_wsgi_conf:
    command: "cp .ebextensions/wsgi.conf /opt/python/ondeck/wsgi.conf"

packages:
  yum:
    postgresql-devel: []

files:
  "/opt/python/log/debug.log":
    mode: "000666"
    owner: wsgi
    group: wsgi
    content: |
      # ethanmc2-blog logfile
  "/tmp/local_settings.py":
    mode: "000400"
    owner: wsgi
    group: wsgi
    source: https://s3.amazonaws.com/ethanmc2-credentials/prod_settings.py

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: ethanmc2-credentials
